<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<livraisons>
		<livLundi>Livraison du dimanche 15 avril:</livLundi>
		<livMardi/>
		<livMercredi>Frais et rabais</livMercredi>
		<livJeudi/>
		<livVendredi/>
		<livSamedi/>
		<livDimanche/>
	</livraisons>
	<menu1>
		<mets1>
			<mets>plat1</mets>
			<desc/>
			<prix/>
			<lien/>
		</mets1>
		<mets2>
			<mets>plat2</mets>
			<desc/>
			<prix></prix>
			<lien/>
		</mets2>
		<mets3>
			<mets>plat3</mets>
			<desc/>
			<prix/>
			<lien/>
		</mets3>
		<mets4>
			<mets>plat4</mets>
			<desc/>
			<prix/>
			<lien/>
		</mets4>
		<mets5>
			<mets>plat5</mets>
			<desc/>
			<prix/>
			<lien/>
		</mets5>
	</menu1>
	<menu2>
		<mets1>
			<mets/>
			<desc>Rabais de 2.50$ pour les commandes de 40.00$ et plus</desc>
			<prix>-2.50</prix>
			<lien/>
		</mets1>
		<mets2>
			<mets/>
			<desc>Rabais de 8.50$ pour les commandes de 80.00$ et plus</desc>
			<prix>-8.50</prix>
			<lien/>
		</mets2>
		<mets3>
			<mets/>
			<desc>Rabais de 21.50$ pour les commandes de 120.00$ et plus</desc>
			<prix>-21.50</prix>
			<lien/>
		</mets3>
		<mets4>
			<mets/>
			<desc>Rabais de 30.50$ pour les commandes de 160.00$ et plus</desc>
			<prix>-30.50</prix>
			<lien/>
		</mets4>
		<mets5>
			<mets/>
			<desc>Frais de livraison hors zone 5$</desc>
			<prix>5.00</prix>
			<lien/>
		</mets5>
	</menu2>
	<menuX>
		<mets1>
			<mets/>
			<desc/>
			<prix/>
			<lien/>
		</mets1>
		<mets2>
			<mets/>
			<desc/>
			<prix/>
			<lien/>
		</mets2>
		<mets3>
			<mets/>
			<desc/>
			<prix/>
			<lien/>
		</mets3>
		<mets4>
			<mets/>
			<desc/>
			<prix/>
			<lien/>
		</mets4>
		<mets5>
			<mets/>
			<desc/>
			<prix/>
			<lien/>
		</mets5>
	</menuX>
</menu>